<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for cliente in clients %}

    <p>Nombre: {{cliente.nombre}} Apellido: {{cliente.apellido}} Email: {{cliente.email}}</p>
    
    <button>
    <a href="{% url 'ClienteEditar' cliente.nombre %}">  Editar Cliente  </a>
    </button>
    
    <button>
    <a href="{% url 'ClienteEliminar' cliente.nombre %}">  Eliminar Cliente  </a>
    </button>

    ------------------------------------
    {% endfor %}

    
    <br>
    
    <button>
    <a href="{% url 'ClientesCrear' %}">  Crear Cliente  </a>
    </button>
</body>
</html>